p.countdown{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0px 5px;
  border: 2px;
  border-radius: 6px;
  padding: 4px;
  width: 200px;
  background: #ff6600;
  color: white;
}